<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Pasta-->
		<add key="AnbimaParametrosEntrada" value="C:\temp\AnbimaParametrosEntrada"/>
		<add key="AnbimaSeriesHistorica" value="C:\temp\AnbimaSeriesHistorica"/>
		
		<!--API-->
		<!--<add key="AnbimaApi" value="https://localhost:7058/"/>-->
		<add key="AnbimaApi" value="https://api.anbima.com.br/feed/fundos/v1/fundos/"/>
		
	</appSettings>
</configuration>